{% extends 'base.html.twig' %}

{% block favIcon %}
	<link rel="shortcut icon" href="assets/img/ico/fav.png">
{% endblock %}

{% block style %}

	<style>
		select {
			display: block !important;
		}

		.tp-caption.boxshadow,
		.boxshadow {
			box-shadow: none !important;
		}
	</style>


{% endblock %}


{% block body %}
	<!-- Page Header-->
	<section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="white-text">Your profile</h2>
					<span class="white-text">Personnal & Professionnal informations</span>
					<ol class="breadcrumb">
						<li>
							<a href="#!">Home</a>
						</li>
						<li class="active">Profile</li>
					</ol>
				</div>
			</div>
		</div>
	</section>


	<!-- Page Content-->
	<section class="gray-bg">
		<div class="container">
			<div class="row">
				<div class="score-container">
					<h4>
						<img src="{{ asset('img/profile.gif') }}" style="height: 80px; width: 201px;">
						&nbsp;
																								                            &nbsp; Hooray ! Your profile is complete.
					</h4>
					<div class="c100 p100 small complete ">
						<span>100%</span>
						<div class="slice">
							<div class="bar"></div>
							<div class="fill"></div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section>


	{{ form_start(form, {
            'attr': {
                'id': 'candidateForm',
                'role': 'form',
                'data-parsley-validate': '',
                'enctype': 'multipart/form-data',
                'accept-charset': 'UTF-8'
            }
        }) }}

	{# <input name="_token" type="hidden" value="UYfchy67WuTVzhSstPK1RDZEIfgqpKCcLnLyhf8a"> #}


	<section class="section-padding">
		<div class="container">
			<div class="row">
				<h3 class="text-extrabold">Your personal informations</h3>

				{# FORM GENRE #}

				<div class="col-xs-12 col-sm-6 col-md-4">


					<div class="input-field">
						{{ form_widget(form.gender) }}
						{{ form_label(form.gender) }}
						{{ form_errors(form.gender) }}
					</div>
				</div>


				<div class="clearfix visible-sm"></div>

				{# FORM FIRST NAME #}

				<div class="col-xs-12 col-sm-6 col-md-4">


					<div class="input-field">

						{{ form_widget(form.firstName) }}
						{{ form_label(form.firstName) }}
						{{ form_errors(form.firstName) }}
					</div>
				</div>
				{# FORM LAST NAME #}

				<div class="col-xs-12 col-sm-6 col-md-4">


					<div class="input-field">
						{{ form_widget(form.lastName) }}
						{{ form_label(form.lastName) }}
						{{ form_errors(form.lastName) }}
					</div>
				</div>
				{# FORM CURRENT LOCATION #}


				<div class="col-xs-12 col-sm-6 col-md-4">


					<div class="input-field">
						{{ form_widget(form.currentLocation) }}
						{{ form_label(form.currentLocation) }}
						{{ form_errors(form.currentLocation) }}
					</div>
				</div>
				{# FORM ADRESS #}

				<div class="col-xs-12 col-sm-8">


					<div class="input-field">
						{{ form_widget(form.adress) }}
						{{ form_label(form.adress) }}
						{{ form_errors(form.adress) }}
					</div>
				</div>
			</div>
			<div
				class="row">
				{# FORM PHOTO #}

				<div class="col-xs-12 col-sm-6 col-md-4">


					<div class="file-field input-field" style="margin-top: 32px;">
						<div class="btn btn-lg primary waves-effect waves-light">
							<span>
								<i class="material-icons">insert_photo</i>
								Photo</span>
							{# <input id="photo" size="20000000" accept=".pdf,.jpg,.doc,.docx,.png,.gif" name="photo" type="file"> #}
							{{ form_widget(form.thumbnailFile) }}
							{{ form_errors(form.thumbnailFile) }}

						</div>

						<div class="existing-file">


							<a href="{{ asset('images/profilePicture/' ~ candidate.profilPicture) }}" target="_blank">
								<i class="material-icons">&#xE24D;</i>
								{{ candidate.profilPicture }}</a>
						</div>

						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" placeholder="Upload your ID photo" readonly>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8">
					<div
						class="row">
						{# FORM COUNTRY #}

						<div class="col-xs-12 col-sm-6">


							<div class="input-field">
								{{ form_widget(form.country) }}
								{{ form_label(form.country) }}
								{{ form_errors(form.country) }}
							</div>
						</div>
						{# FORM NATIONALITY #}

						<div class="col-xs-12 col-sm-6">


							<div class="input-field">
								{{ form_widget(form.nationality) }}
								{{ form_label(form.nationality) }}
								{{ form_errors(form.nationality) }}
							</div>
						</div>
						{# FORM BIRTHDATE #}

						<div class="col-xs-12 col-sm-6">


							<div class="input-field">
								{# <input class="datepicker" id="birth_date" name="birth_date" type="text" value="">
								<label for="birth_date">Birthdate</label> #}
								{{ form_widget(form.dateBirth) }}
								{{ form_label(form.dateBirth) }}
								{{ form_errors(form.dateBirth) }}
							</div>
						</div>
						{# FORM BIRTHPLACE #}

						<div class="col-xs-12 col-sm-6">


							<div class="input-field">
								{{ form_widget(form.birthPlace) }}
								{{ form_label(form.birthPlace) }}
								{{ form_errors(form.birthPlace) }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-40">
				<h3 class="text-extrabold">Your professional profile</h3>
				{# FORM PASSPORT #}

				<div class="col-xs-12 col-sm-6">

					<div class="card card-panel passport">


						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									Passport</span>
								{{ form_widget(form.passportFile) }}
								{{ form_errors(form.passportFile) }}

							</div>
							<div class="existing-file">
								
									<a href="{{ asset('images/passport/' ~ candidate.passport) }}" target="_blank">
								<i class="material-icons">&#xE24D;</i>
								{{ candidate.passport }}</a>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload your passport" readonly>
							</div>
						</div>


						{# FORM CV #}

						<div class="file-field input-field">
							<div class="btn btn-lg primary waves-effect waves-light">
								<span>
									<i class="material-icons">&#xE24D;</i>
									CV</span>
								{{ form_widget(form.cvFile) }}
								{{ form_errors(form.cvFile) }}

							</div>

							<div class="existing-file">
								<a href="{{ asset('images/cv/' ~ candidate.cv) }}" target="_blank">
								<i class="material-icons">&#xE24D;</i>
								{{ candidate.cv }}</a>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Upload your Curriculum Vitae" readonly>
							</div>
						</div>

					</div>
				</div>

				{# FORM JOB SECTOR #}


				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-12 col-sm-12">


						<div class="input-field" style="margin-top: 5px;">
							{{ form_widget(form.jobCategory) }}
							{{ form_label(form.jobCategory) }}
							{{ form_errors(form.jobCategory) }}
						</div>
					</div>
					<div
						class="col-xs-12 col-sm-12">

						{# FORM EXPERIENCE #}

						<div class="input-field">
							{{ form_widget(form.experience) }}
							{{ form_label(form.experience) }}
							{{ form_errors(form.experience) }}
						</div>
					</div>
				</div>

				{# FORM DESCRIPTION #}

				<div class="col-xs-12 col-sm-12">


					<div class="input-field">
						{{ form_label(form.shortDescription) }}

						{{ form_widget(form.shortDescription) }}
						{{ form_errors(form.shortDescription) }}
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<h3 class="text-extrabold">Your K-Yachting account</h3>
				{# FORM EMAIL #}

				<div class="col-xs-12 col-sm-4">


					<div class="input-field">
						<input id="email" name="email" type="email" value="">
						<label for="email">Email</label>
					</div>
				</div>
				{# FORM PASSWORD #}

				<div class="col-xs-12 col-sm-4">


					<div class="input-field">
						<input id="password" name="password" type="password" value="">
						<label for="password">Change your password here</label>
					</div>
				</div>
				{# FORM CONFIRM PASSWORD #}

				<div class="col-xs-12 col-sm-4">


					<div class="input-field">
						<input id="password_repeat" name="password_repeat" type="password" value="">
						<label for="password_repeat">Confirm your new password</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 mt-40 mb-80 delete-account">
					<a href="#!" onclick="return prompt('Please Type \'Delete my account\' to delete your K-Yachting Services account:') == 'Delete my account'" class="btn btn-block btn-lg waves-effect waves-light">
						<i class="material-icons">&#xE872;</i>Delete my account</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="#!" class="btn btn-block btn-lg border primary waves-effect waves-light">
						<i class="fa fa-long-arrow-left"></i>
						Back home</a>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">
					<button type="submit" class="btn btn-block btn-lg gradient secondary waves-effect waves-light">
						<span>
							<strong>UPDATE</strong>
							NOW</span>
					</button>
				</div>
			</div>

		</div>
	</section>
	{{ form_end(form) }}
{% endblock %}

{% block javascriptFooter %}

	<script type="text/javascript">

		onAppReady(function () {
$('.preload').remove();
});
	</script>

{% endblock %}
