{% extends 'base.html.twig' %}

{% block favIcon %}
     <link rel="shortcut icon" href="assets/img/ico/fav.png">
 {% endblock %}

{% block body %}
 <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Our job offers</h2>
                        <span class="white-text">Search and filter by job category</span>
                        
                    </div>
                </div>
            </div>
        </section>
         <!-- Page Content-->
        <section id="job-offers" class="section-padding gray-bg">
            <div class="container">
                <div class="text-center mb-40">
                    <h2 class="section-title">We have the perfect job for you</h2>
                    <p class="section-sub">just like our candidates, we offer quality, serious & reliable job offers.</p>
                </div>

        <div class="portfolio-container">

                    <ul class="portfolio-filter brand-filter text-center">
                      <li class="active waves-effect waves-light" data-group="all">All</li>
                     {% for categorie in categories %}
                      <li class="waves-effect waves-light"><a href="{{ path('app_job_offer_category', {'id': categorie.id}) }}">{{ categorie.name }}</a></li>
                {% endfor %}
                      
                    </ul>
    <table class="table">

        <tbody>
        {% for job_offer in job_offers %}
            <tr>
                <td>{{ job_offer.id }}</td>
                <td>{{ job_offer.description }}</td>
                <td>{{ job_offer.jobTitle }}</td>
                <td>{{ job_offer.salary }}</td>
                <td>{{ job_offer.notes }}</td>
                <td>{{ job_offer.location }}</td>
                <td>{{ job_offer.active ? 'Yes' : 'No' }}</td>
                <td>{{ job_offer.createdAt ? job_offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ job_offer.updatedAt ? job_offer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_job_offer_show', {'id': job_offer.id}) }}">show</a>
                    {# <a href="{{ path('app_job_offer_edit', {'id': job_offer.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_job_offer_new') }}">Create new</a> #}
{% endblock %}

{% block javascriptFoote %}


<script type="text/javascript">

    onAppReady(function() {
        $('.preload').remove();
    });

    
</script>
{% endblock %}
